<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>NxPC.Live vol.32</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="NxPC.Live vol.32 @IAMAS OPENHOUSE 2018.07.28 sat. 17:30–21:00">
    <meta name="keywords" content="NxPC.Lab, IAMAS, vol.32, 情報科学大学院大学, OPEN HOUSE">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@nxpclab" />
    <meta name="twitter:title" content="NxPC.Live vol.32" />
    <meta name="twitter:description" content="NxPC.Live vol.32 @IAMAS OPENHOUSE 2018.07.28 sat. 17:30–21:00" />
    <meta name="twitter:image" content="http://nxpclab.info/vol.32/res/mainVisual.png" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://nxpclab.info/vol.32" />
    <meta property="og:title" content="NxPC.Live vol.32" />
    <meta property="og:description" content="NxPC.Live vol.32 @IAMAS OPENHOUSE 2018.07.28 sat. 17:30–21:00" />
    <meta property="og:image" content="http://nxpclab.info/vol.32/res/mainVisual.png" />
    <meta name="twitter:creator" content="@nasustim">
    <link rel="shortcut icon" href="http://nxpclab.info/shared/favicon.ico" type="image/vnd.microsoft.icon">

    <link rel="stylesheet" href="style.css">
    <script src="preload.js"></script>
    <link rel="canonical" href="http://nxpclab.info/vol.32">
</head>
<body>
    <div id="cvs-container">
        <div id="svg-container"><%- include("mainVisual.svg"); %></div>
        <img src="res/logo.svg" alt="NxPC.Live vol.32">
    </div>
    <article>
        <div class="margin"></div>
        <div class="content">

            <div>

                <div>
                    <h1>Share</h1>
                </div>
                <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=NxPC.Live%20vol.32%20OpenHouse2018%20http://nxpclab.info/vol.32">
                    <i class="fab fa-twitter ico"></i>
                </a>
                <a class="facebook-share-button" target="_blank" href="http://www.facebook.com/share.php?u=http://nxpclab.info/vol.32">
                    <i class="fab fa-facebook ico"></i>
                </a>
                <a href="https://social-plugins.line.me/lineit/share?url=http://nxpclab.info/vol.32">
                    <i class="fab fa-line ico"></i>
                </a>

            </div>
            <div>
                <h1>About</h1>
                <p>
                    2018.7.28 sat. 17:30 open ~ 21:00 close
                </p>
                <p>
                    ソフトピアジャパン センタービル3階 ギャラリー1
                </p>
            </div>

            <div class="access">
                <h1>Access</h1>
               
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3253.52022134682!2d136.63740231523232!3d35.36755135471851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003b19ae5a46881%3A0x4ace8fccbea3d1!2z44K944OV44OI44OU44Ki44K444Oj44OR44Oz44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1531903452028" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            
            </div>

            <div>
                <h1>Time Table</h1>
                <table>
                    <tr class="label">
                        <th>Time</th><th>Sound</th><th>Visual</th>
                    </tr>
                    <tr class="data">
                        <th>18:00</th><th>f&u</th><th>kohei nakada</th>
                    </tr>
                    <tr class="data">
                        <th>18:25</th><th>Mitsuhiro Hibino</th><th>大野</th>
                    </tr>
                    <tr class="data">
                        <th>18:50</th><th>Kei Kimura</th><th>柴田カズヒデ</th>
                    </tr>
                    <tr class="data">
                        <th>19:10</th><th>森田</th><th></th>
                    </tr>
                    <tr class="data">
                        <th>19:35</th><th>James Scrutinizer Trio</th><th></th>
                    </tr>
                    <tr class="data">
                        <th>20:10</th><th>たけしはやし/takeshi HAYASHI</th><th>津曲洸太/Kota Tsumagari</th>
                    </tr>
                    <tr class="data">
                        <th>20:25</th><th>DJスベリダイ</th><th>Kakuya Shiraishi</th>
                    </tr>
                </table>
            </div>

            <div>

                <h1>Member</h1>

                <% for(let i in member){ %>

                    <div class="prof">
                        <div class="prof-row">
                            <div class="img-wrap">
                                <img src="<%- member[i].img %>">
                            </div>
                            <div class="prof-sent">

                            <h2><%- member[i].name %></h2>
                            <% for(let j in member[i].profile){ %>
                                <p><%- member[i].profile[j] %></p>
                            <% } %>
                            </div>
                        </div>
                    </div>

                <% } %>
            </div>
        </div>
        <div class="margin"></div>
    </article>
    <footer>
        <div class="margin"></div>
        <div class="content">
            <div>
                <a href="http://www.iamas.ac.jp/" target="_blank">
                    <img src="res/logo_iamas.png">
                </a>
            </div>
            <div>
                <a href="http://nxpclab.info/" target="_blank">
                    <img src="res/nxpc_logo.png">
                </a>
            </div>
        </div>
        <div class="margin"></div>
    </footer>
    <script src="script.js"></script>
</body>
</html>