<% var data = include("data.json"); %>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>NxPC.Live vol.32</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="preload.js"></script>
    <link rel="canonical" href="http://nxpclab.info/vol.32">
</head>
<body>
    <div id="cvs-container">
        <div id="svg-container"><%- include("res/mainVisual.svg"); %></div>
        <img src="res/logo.svg" alt="NxPC.Live vol.32">
    </div>
    <article>
        <div class="margin"></div>
        <div class="content">

            <div>
                <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=NxPC.Live%20vol.32%20OpenHouse2018%20http://nxpclab.info/vol.32">
                    <i class="fab fa-twitter ico"></i>
                </a>
                <a class="facebook-share-button" target="_blank" href="http://www.facebook.com/share.php?u=http://nxpclab.info/vol.32">
                    <i class="fab fa-facebook ico"></i>
                </a>
                <a class="facebook-share-hatena" target="_blank" href="http://b.hatena.ne.jp/entry/nxpclab.info/vol.32">
                    <i class="fas fa-question ico"></i>
                </a>
            </div>

            <div>
                <h1>About</h1>
                <div>
                    2018.7.29 sat. 17:30 open ~ 21:00 close
                </div>
                <div>
                    ソフトピアジャパン センタービル3階 ギャラリー2
                </div>
            </div>

            <div>
                <h1>Access</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3253.52022134682!2d136.63740231523232!3d35.36755135471851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003b19ae5a46881%3A0x4ace8fccbea3d1!2z44K944OV44OI44OU44Ki44K444Oj44OR44Oz44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1531903452028" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div>
                <h1>Time Table</h1>
                <table>
                    <tr class="label">
                        <th>Time</th><th>Sound</th><th>Visual</th>
                    </tr>
                    <tr class="data">
                        <th>23:00</th><th>hibino</th><th>hibino</th>
                    </tr>
                    <tr class="data">
                        <th>23:00</th><th>hibino</th><th>hibino</th>
                    </tr>
                    <tr class="data">
                        <th>23:00</th><th>hibino</th><th>hibino</th>
                    </tr>
                </table>
            </div>

            <div>
                <h1>Players</h1>
                <div>
                    <h2>HIBINO</h2>
                    <img src="">
                    <p>aaaaaaa</p>
                </div>
            </div>

        </div>
        <div class="margin"></div>
    </article>
    <script src="script.js"></script>
</body>
</html>