//@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",YuGothic,"ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,Arial,"メイリオ",Meiryo,sans-serif;
}

#cvs-container{

    position: relative;

    #svg-container{
        position: absolute;
        top: 0;
        left: 0;
    }
    img{
        position: absolute;
        top: 50px;
        left: 50px;

        width: 30vw;
    }

    width: 100vw;
    height: 100vh;
    background-color: #464646;
}


article, footer{

    display: flex;

    .one-h{
        flex: 100;
    }

    .content{
        //background-color: blue;
        //* {margin: 10px;}

        //max-width: 100%;


        //width: 100%;

        h1{
            margin: 20px;
            text-align: center;
        }
        .access{
            margin-left: 0;
            margin-right: 0;
        }
        div{
            margin: 10px;
            text-align: center;

            max-width: 100%;

            

            iframe{
                //max-width: 100%;
                text-align: center;
                margin: 0;
            }
        }

        a{
            margin: 0;

            text-decoration: none;

            .ico{
                color: black;
            }
        }
        a:hover{
            .ico{
                color: grey;
            }
        }

        table{
            width: 100%;
            tr{
                width: 100%;
                td{
                    //width: 32%;
                    text-align: center;
                }
            }
        }
        .prof{
            .prof-row{

                

                display: flex;

                flex-direction: row;

                .prof-sent{
                    h2{
                        text-align: center;
                    }
                    text-align: left;
                }

                .img-wrap{
                    img{
                        width: 100%;
                    }
                }

            }
        }

    }
}


footer{

    text-align: center;

    background-color: #96e9fb;


    div{
        display: inline-block;
    }
    
}

@media (min-width: 900px){
    footer, article{
        .margin{
            flex: 20;
        }
        .content{
            flex: 60;

            h1{
                font-size: 2.4vw;
            }
            h2{
                font-size: 1.8vw;
            }
            p{
                font-size: 1.4vw;
            }

            .ico{

                margin: 0 5vw;

                width: 3vw;
                height: 3vw;
                font-size: 0.7vw;
            }

            table{


                .data{
                    font-size: 1.6vw;
                }
                .label{
                    font-size: 1.4vw;
                    background-color: #96e9fb;
                }
            }


        }

        
    }

    footer{

        img{
            height: 3.7vw;
        }
    }

    .prof{
        .prof-row{
            .img-wrap{
                flex: 4;

            }
            .prof-sent{
                flex: 6;
            }
        }
    }

}
@media (max-width: 899px){
    footer, article{
        .margin{
            flex: 0;
        }
        .content{
            flex: 100;

            & > div{
                margin-top: 10px;
                margin-bottom: 10px;
            }


            h1{
                font-size: 10.4vw;
            }
            h2{
                font-size: 3.6vw;
            }
            p{
                font-size: 3.2vw;
            }


            .ico{


                margin: 0 5vw;

                width: 5vw;
                height: 5vw;
                font-size: 0.7vw;
            }


            table{


                .data{
                    font-size: 3.2vw;
                }
                .label{
                    font-size: 2.8vw;
                    background-color: #96e9fb;
                }
            }


        }
    }

    footer{

        img{
            height: 10vw;
        }
    }

    .prof{
        .prof-row{
            .img-wrap{

                flex: 4;

            }
            .prof-sent{
                flex: 6;
            }
        }
    }

}