//@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

@import "cssreset-min";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",YuGothic,"ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,Arial,"メイリオ",Meiryo,sans-serif;
}

.strike{
    text-decoration: line-through;
}

#cvs-container{

    position: relative;

    #svg-container{
        position: absolute;
        top: 0;
        left: 0;
    }
    img{
        position: absolute;
        top: 50px;
        left: 50px;

        width: 30vw;
    }

    width: 100vw;
    height: 100vh;
    background-color: #464646;
}

.about p ,.prof-sent p, .data{
    color: #515151;
}


article{

    display: flex;

    .one-h{
        flex: 100;
    }

    .content{
        //background-color: blue;
        //* {margin: 10px;}

        //max-width: 100%;


        //width: 100%;

        h1{
            margin: 20px;
            text-align: center;

            font-weight: bolder;
        }
        h2{
            font-weight: bolder;
        }
        .access{
            margin-left: 0;
            margin-right: 0;
        }


        & > div{
            margin-top: 10vh;
            margin-bottom: 10vh;

            text-align: center;

            max-width: 100%;
        }

        & > div div{
        //    margin: 10px;


        .img-wrap{
            @media (min-width: 900px){
    
                margin: 20px;
            }
            @media (max-width: 899px){
                margin: 6vw 6vw 6vw 6vw;
            }
        }
        .prof-sent{


            


            @media (min-width: 900px){
    
                margin: 20px;
            }
            @media (max-width: 899px){
                margin: 6vw 6vw 14vw 6vw;
            }
        }

            text-align: center;

            max-width: 100%;

            

            iframe{
                //max-width: 100%;
                text-align: center;
                margin: 0;
            }
        }

        a{
            margin: 0;

            text-decoration: none;

            .ico{
                color: black;
            }
        }
        a:hover{
            .ico{
                color: grey;
            }
        }

        table{
            width: 100%;
            tr{
                width: 100%;


                th{
                    padding: 2px 1px;
                }
                
            }
            .label th{
                //width: 32%;
                text-align: center;
            }
        }
        .prof{
            .prof-row{

                


                .prof-sent{
                    h2{
                        text-align: center;
                    }
                    text-align: left;

                    p{
                        
                    }
                }

                .img-wrap{
                    img{
                        width: 100%;
                    }
                }

            }
        }

    }
}


footer{

    text-align: center;

    background-color: #96e9fb;

    padding: 15px;

    div{
        display: inline-block;
        text-align: center;
        margin: 30px;
    }
    
}

@media (min-width: 900px){
    footer, article{
        .margin{
            flex: 20;
        }
        .content{
            flex: 60;

            h1{
                font-size: 2.4vw;
            }
            h2{
                font-size: 1.8vw;
            }
            p{
                font-size: 1.4vw;
            }

            .ico{

                margin: 0 5vw;

                width: 3vw;
                height: 3vw;
                font-size: 0.7vw;
            }

            table{


                .data th{
                    font-size: 1.6vw;
                }
                .label th{
                    font-size: 1.4vw;
                    background-color: #96e9fb;
                }
            }


        }

        
    }

    footer{

        img{
            height: 3.7vw;
        }
    }

    .prof{



        .prof-row{


            display: flex;

        flex-direction: row;
            .img-wrap{
                flex: 4;

            }
            .prof-sent{
                flex: 6;
            }
        }
    }

}
@media (max-width: 899px){
    footer, article{
        .margin{
            flex: 0;
        }
        .content{
            flex: 100;



            h1{
                font-size: 10.4vw;
            }
            h2{
                font-size: 4.6vw;
            }
            p{
                font-size: 4.2vw;
            }


            .ico{


                margin: 0 5vw;

                width: 5vw;
                height: 5vw;
                font-size: 0.7vw;
            }


            table{


                .data th{
                    font-size: 3.2vw;
                }
                .label th{
                    font-size: 2.8vw;
                    background-color: #96e9fb;
                }
            }


        }
    }

    footer{

        img{
            height: 10vw;
        }
    }

    .prof{



//        flex-direction: column;
        .prof-row{
            .img-wrap{

               // flex: ;

            }
            .prof-sent{
                //flex: 6;
            }
        }
    }

}